@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

 body{
    margin: 30px !important;
background-color: black !important;
font-family: 'Poppins', sans-serif !important;
color: antiquewhite !important;
}


.heading th{
    /* text-align: center; */
    font-size: 18px;
    font-weight: 800;
    background-color: black;
/* padding: 10px !important; */
color: white !important;
}


tbody{
    color: antiquewhite !important;
    padding: 10px !important;
    font-weight: 500 !important;

}

tbody img{
    height:50px ;
    width: 50px;
}